@theme "~/.config/hypr/configs/rofi/themes/catppuccin.rasi"

configuration {
      modi: "drun,run,filebrowser,window";
      show-icons: true;
      display-drun: "Apps";
      display-run: "Run";
      display-filebrowser: "Files";
      display-window: "Windows";
      drun-display-format: "{name}";
      window-format: "{w} · {c} · {t}";
}

